*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;    
    margin:10px;
}
.box{
    width: 250px;
    height: 140px;
    background: #38644e;
    margin: 0 10px;
    transition: 1s;
}
.box:hover{
    transform: scale(1.3) rotateY(180deg) ;
    box-shadow: 2px 2px 2px #b9b5b5;
    z-index: 2;
    background:#eee;
}
.box img{
    width: 100%;
    transition:5s;
}
.box:hover img{
    display: none;    
}
.box span{
    display: none;
    justify-content: center;
    align-items: center;
    /* width:inherit;
    height:initial; */
}
.box:hover span{
    display: block;
    transform: rotateY(180deg);
    padding: 5px;
    width:auto;
    font-size: 0.7em;

}